.account-main{
    width: 72%;
    height: 230px;
    position: absolute;
    z-index: -1;
    top: 13%;
    left: 28%;
}
.accbalance{
    width: 49.5%;
    height: 100%;
    border-radius: 15px;
    background-color: aqua;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0 ,0.25);
}
.transfer{
    position: relative;
    top: -100%;
    left: 50%;
    width: 49.5%;
    height: 100%;
    border-radius: 15px;
    background-color: aqua;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0 ,0.25);
}