.servicePage{
    /* display: block; */
    width: 100%;
    height: 700px;

}
.servicesComponents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center; */
    align-items: center;
    place-items: center;
    width: 100%;
    height: 100%;
}
.servicess{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    place-items: center;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0 ,0.25);
    border-radius: 10px;

}
.services i3{
    font-size: 3rem;
    color: lightsalmon;
    position: relative;
    top: 30%;
}
.services-links{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 100;
    position: relative;
    top: -35%;
}
.servicess p{
    font-size: 0.7rem;
    font-weight: 50;
    position: relative;
    top: -80%;
    width: 50%;
}
.servicess:hover p{
    display: none;
}
.options{
    display: none;
}
.servicess:hover .options {
    display:grid;
    position: relative;
    top: -60%;
    transition:  0.5s;

}
.servicess:hover i3{
   position: relative;
   top: 0%;
   left: -70%;
   transition: all 0.5s ease-in-out;
}
.servicess:hover .services-links{
    position: relative;
    top: -100%;
    left: -25%;
    transition: all 0.5s ease-in-out;
}